<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/kabouter</property>
    <property name="hibernate.connection.username">kabouter</property>
    <property name="hibernate.connection.password">kabouter</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">false</property>
    <mapping resource="com/unicornlabs/kabouter/historian/data_objects/Device.hbm.xml"/>
    <mapping resource="com/unicornlabs/kabouter/historian/data_objects/DeviceTemplate.hbm.xml"/>
    <mapping resource="com/unicornlabs/kabouter/historian/data_objects/Powerlog.hbm.xml"/>
    <mapping resource="com/unicornlabs/kabouter/historian/data_objects/Devicetemplate.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
