<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/kabouter</property>
        <property name="hibernate.connection.username">kabouter</property>
        <property name="hibernate.connection.password">kabouter</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.jdbc.batch_size">20</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.max_size">10</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_statements">0</property>
        <property name="hibernate.c3p0.timeout">1800</property>
        
        <mapping resource="com/unicornlabs/kabouter/historian/data_objects/Device.hbm.xml"/>
        <mapping resource="com/unicornlabs/kabouter/historian/data_objects/DeviceTemplate.hbm.xml"/>
        <mapping resource="com/unicornlabs/kabouter/historian/data_objects/Powerlog.hbm.xml"/>
        <mapping resource="com/unicornlabs/kabouter/historian/data_objects/Automationrule.hbm.xml"/>
    
   
    </session-factory>
</hibernate-configuration>
